<template>
  <body class="content-grid">
    <section class="full-width" id="hero">
      <h1 class="title">
        Abby's<br />
        Reindeer Facts!
      </h1>
    </section>

    <section class="content">
      <h1 class="title">What are Reindeer?</h1>
      <div class="text">
        <div class="img_box circle par_img" style="width: 130px">
          <img
            class="circle"
            style="width: 130px; grid-area: one"
            :src="rein"
          />
          <span class="question">?</span>
        </div>
        <p>
          Reindeer and Caribou are not the same! They are the same species, but
          different subspecies.
        </p>
        <h3>Reindeer</h3>
        <ul class="list">
          <li>
            Native to the European part of the Arctic Circle (Russia, Greenland,
            Scandinavia)
          </li>
          <li>Smaller than Caribou</li>
          <li>Domesticated</li>
          <li>Tend to have smaller, more pointy, and 'L' shaped antlers</li>
        </ul>
        <h3>Caribou</h3>
        <ul class="list">
          <li>Native to Alaska and Northern Canada</li>
          <li>Bigger than reindeer</li>
          <li>Not domesticated</li>
          <li>They tend to have larger, more platy, and 'C' shaped antlers</li>
        </ul>
        <p>
          Reindeer calves are born in the spring and are typically born at night
          so that they can be up and walking when the herd moves during the day.
          Reindeer calves have to get strong fast, they do that through the
          nutrients they get from their mother's milk. Reindeer milk has 24%
          milk fat.
        </p>
      </div>
      <div class="bot_img img_box" style="width: 200px">
        <img style="width: 200px; grid-area: one" :src="coffee" />
        <div class="x">
          <div class="line" />
          <div class="line" />
        </div>
      </div>
    </section>

    <section class="aside">
      <h1>Did you know?</h1>
      <p>
        Reindeer use cattle terminology, so babies are calves, intact males are
        bulls, castrated males are steers, and mature females are cows.
      </p>
    </section>

    <section class="content">
      <h1 class="title">Reindeer Anatomy</h1>
      <div class="text">
        <p>
          Reindeer have antlers, not horns! They grow and fall off every year.
          Males will lose theirs in late December/early January, and females
          will keep theirs until they give birth in the spring. Antlers grow
          super fast! They are one of the fastest-growing tissues in the animal
          kingdom and can grow 1-2 inches a day. Reindeer antlers grow with
          'velvet' on them and when they go into their mating cycles they will
          rub off the velvet. (i.e. when bulls go into a rut and females go into
          heat)
        </p>
        <div class="text">
          <div class="img_box circle par_img" style="width: 110px">
            <img
              class="circle"
              style="width: 110px; margin-top: -1rem"
              :src="coat"
            />
          </div>
        </div>
        <p>
          Reindeer can survive at -60 degrees Fahrenheit. Their winter coats
          have two layers, a short, black undercoat and a thick overcoat. The
          overcoat is only for the winter, they will shed it in the spring. The
          hairs of the overcoat are hollow which keeps them well-insulated.
          Reindeer noses are specially designed to release as little heat as
          possible.
        </p>
        <p>
          Reindeer hooves are flat, which makes it easier to walk on snow and
          ice. It also helps them dig through the snow for food. They like pine
          needles, clover, and grass. In the winter when food becomes hard to
          find they eat reindeer moss (lichen); also their metabolism slows
          wayyyy down. They can survive on only 3% protein!
        </p>
        <p>
          Reindeer tendons click when they walk, and it helps them find each
          other in heavy snow. Think of the lyrics "Up on the housetop click
          click click", which refers to the reindeer tendons!
        </p>
      </div>
    </section>
    <img class="bot_img full full-width" :src="roof" />
  </body>
</template>

<script setup>
import roof from "/src/assets/img/roof.jpg";
import coat from "/src/assets/img/coat.jpg";
import coffee from "/src/assets/img/coffee.jpg";
import rein from "/src/assets/img/rein.jpg";
</script>

<style scoped>
:root {
}
#hero {
  background: url("assets/img/abby_two.jpg");
  background-size: cover;
  width: 100vw;
  height: 500px;
  font-family: "Galada", cursive;
  background-position: 80% 30%;
  display: grid;
  .title {
    font-size: 3.5rem;
    color: var(--green);
    align-self: end;
    justify-self: center;
    text-shadow: 2px 4px black;
    line-height: 4rem;
  }

  @media (width < 500px) {
    aspect-ratio: 1/1;
    height: 100vw;
  }
}

.content {
  display: grid;
  grid-template-areas:
    "img_top img_top"
    "title title"
    "text text"
    "img_bot img_bot";
  grid-template-rows: auto auto auto auto auto;
  .top_img {
    grid-area: img_top;
  }
  .bot_img {
    grid-area: img_bot;
  }
  .title {
    font-family: "Galada", cursive;
    font-size: 2.5rem;
    color: var(--green);
    align-self: end;
    margin: 0px;
    grid-area: title;
    text-decoration: underline;
  }
  .text {
    grid-area: text;
    margin: 0px;
  }
  .circle {
    border-radius: 50vw;
    shape-outside: circle(80%);
  }
  .full {
    width: 100%;
    shape-outside: circle(50%);
  }
  .par_img {
    float: right;
    width: 100px;
  }
  .img_box {
    display: grid;
    position: reletive;
    grid-template-areas: "one";
    .question {
      font-size: 5rem;
      display: block;
      font-weight: 900;
      rotate: -20deg;
      grid-area: one;
      color: var(--red);
      justify-self: end;
      position: absolute;
    }
  }
}
.x {
  width: 150px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-areas: "x";
  grid-area: one;
  left: 50%;
  place-self: center;
  .line {
    width: 100%;
    height: 15px;
    background: var(--red);
    place-self: center;
    grid-area: x;
    &:nth-of-type(1) {
      rotate: 50deg;
    }
    &:nth-of-type(2) {
      rotate: -50deg;
    }
  }
}

.aside {
  width: 200px;
  background: var(--green);
  padding: 10px;
  border-radius: 10px;
  justify-self: end;
  rotate: 10deg;
  text-align: center;
  box-shadow: 0 0 10px 5px grey;
  transform: scale(0.8);
  margin-top: -5rem;
}
.full {
  height: 200px;
  object-fit: cover;
}
</style>
